{% extends 'base.html' %}


{% block page_title %}
    Create
{% endblock page_title %}
 

{% block contents %}

<h3>Add Article</h3>
<form method="POST">
    {% csrf_token %}
        <!-- <table>
            {{form.as_table}}
        </table> -->
    <div class="form-group">
        <label for="{{form.title.id_for_label}}">{{form.title.label}} : </label>
        <input type="text" class="form-control" name = "{{form.title.name}}" maxlength="{{form.title.max}}" 
        required id = "{{form.title.id_for_label}}" value="{{form.title.value}}"/> 
    </div>
    <div class="form-group">
        <label for="{{form.body.id_for_label}}">{{form.body.label}} : </label>
        <textarea name="{{form.body.name}}" rows="10" class="form-control" 
        required id = "{{form.body.id_for_label}}">{{form.body.value}}</textarea>
    </div>
    <div class="form-group col-md-4">
    <label for="{{form.category.id_for_label}}">{{form.category.label}} : </label>
    <select name="{{form.category.name}}" required id="{{form.category.id_for_label}}" class="form-control">
        {% for a in  form.category %}
           <div>{{a}}</div>
        {% endfor %}
            
    </select>
</div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock contents %}

    
